/* check cross-browser compatibilty */
@font-face {
  font-family: 'BebasNeue';
  font-weight: bold;
  src: url('../fonts/BebasNeue Bold.ttf');
}
  
@font-face {
  font-family: 'HelveticaCondensed';
  font-weight: normal;
  src: url('../fonts/Helvetica-Condensed.ttf');
}

html {
  height: 100%;
}

body {
  font-family: 'HelveticaCondensed';
  height: 100%;
  overflow: hidden;
}
  
h1 {
  text-align: center;
  font-size: 45px;
  margin: 20px 0px 10px 0px;
  font-family: 'BebasNeue';
}

.container {
  width: 1170px;
  margin: auto;
}


/* header */
.header {
  background-color: rgb(51, 51, 51);
  height: 117px;
}
  
.header .container {
    background-image: url('../images/home/logo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px, 10px;
    height: 100%;
}
    
.header-item {
  float: right;
  font-size: 20px;
  margin-left: 3.5%;
  padding-top: 53px;
}
    
.header a {
    color: rgb(206, 207, 210);
    text-decoration: none;
}
    
.header .active a {
    color: rgb(190, 219, 0);
}


/* footer */
.footer {
  background-color: rgb(51, 51, 51);
  text-align: center;
  color: rgb(206, 207, 210);
  height: 60px;
}

.footer .text {
  padding-top: 20px;
}

@media (max-width: 1199px) {
  .container {
    width: 960px;
  }
  
  .header {
    height: 95px;
  }
  
  .header-item {
    padding-top: 39px;
  }
}

@media (max-width: 979px) {
  .container {
    width: 760px;
  }
  
  .header {
    height: 76px;
  }
  
  .header-item {
    margin-left: 2.5%;
    padding-top: 25px;
  }
}

@media (max-width: 779px) {
  .container {
    width: 560px;
  }
  
  .header {
    height: 56px;
  }
  
  .header-item {
    font-size: 18px;
    padding-top: 15px;
  }
}